.contact{
    padding: 5rem;
    margin: 2rem;
    //border: 1px solid #2C5E1A;
   /*  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.53);
-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.53);
-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.53); */
    &__header{
        text-align: center;
        color: #2C5E1A;
        font-size: 3rem;
        font-weight: 700;
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4rem;
        
    } 
    
    &__link{
        text-decoration: none;
        font-size: 1rem;
        color: #1F2226;
        font-weight: 800;
    }
}
.contact__row{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    @include respond(tab-port){
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.reseau__icon{
    //background-color: #2C5E1A;
    text-align: center;
    font-size: 2rem !important;
    color: #2C5E1A;
    fill: #2C5E1A !important;
}
.reseau__text{
    text-align: center;
    font-size: 2rem;
}
.contact__icon{
    width: 1.75rem;
    height: 1.75rem;
    color: #36454F;
    fill: #36454F;
    @include respond(tab-port){
        
    }
    
}

